

$malachite-50:#f1fdf0;
$malachite-100:#defcdc;
$malachite-200:#bef7bb;
$malachite-300:#8bee87;
$malachite-400:#4cdc47;
$malachite-500:#28c423;
$malachite-600:#1ba217;
$malachite-700:#197f16;
$malachite-800:#196417;
$malachite-900:#155215;
$malachite-950:#052e06;


$malachite-900-05:#94f89477;

