@use 'colors.scss' as *;

.area_forms_userinfo {
    position: fixed;
    width: 95%;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    border: 0.1rem black solid;
    border-radius: 0.5rem;
    background: $malachite-800;
    margin-top: 2rem;
    box-shadow: 10px 10px 100px black;
    h3{
        color: $malachite-950;
        background: $malachite-100;
        text-align: center;
    }
    .close_button {
        position: absolute;
        width: 1.5rem;
        right: 0.3rem;
        top: 0.3rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    .forms_infousuario {
        display: flex;
        width: 98%;
        margin: 1% auto;

        form {
            margin: 0 auto;
            width: 50%;
            display: flex;
            flex-direction: column;
            outline: none;
            label{
                margin-top: 0.8rem;
                margin-bottom: 0.2rem;
                color: $malachite-950;
                font-weight: bold;
                color: $malachite-50;
                &.file_label_profile{
                    margin:1rem auto 0.5rem;
                    font-weight: 400;
                    color: $malachite-900;
                }
            }
            .entrada {
                margin-bottom: 0.8rem;
                padding: 0.2rem;
                box-sizing: border-box;
                font-size: 1rem;
                border: 1px solid $malachite-900;
                border-radius: 0.3rem;
                color: $malachite-950;
                &.file{
                    display: none;
                }
                &#descriptionupdateinfo {
                    resize: none;
                    height: 5.3rem;
                    font-size: 1rem;
                    border: 1px solid $malachite-900;
                    border-radius: 0.3rem;
                }
            }
            .preurl{
                margin:0 auto 0.8rem;
                width: 6rem;
            }
            button{
                margin:0 auto;
            }
        }
    }
}