@use 'colors.scss' as *;

header{
    display: flex;
    height: 3.8rem;
    background: $malachite-950;
    h1{
        margin: auto 1rem;
        cursor: pointer;
        user-select: none;
        transition: transform 0.3s ease;
        color:$malachite-50;
        &:hover{
            transform: scale(1.1);
        }
    }
    .user_header{
        margin: auto 1rem auto auto;
        display: flex;
        transition: transform 0.3s ease;
        text-decoration: none;
        color: black;
        &:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
        .name_user{
            margin: auto;
            color:$malachite-50;
            user-select: none;
        }
        img{
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            margin-right: 0.3rem;
        }
    }
    .logout{
        margin: auto 1rem;
        border: none;
        background: none;
        color: $malachite-50;
        font-size: 1.2rem;
        padding: 0.3rem 0.5rem;
        cursor: pointer;
        border-radius: 0.3rem;
        &:hover{
            background: $malachite-800;
        }
    }
}