

.image_form{
    width: 95%;
    margin:1rem auto 0;
    display: flex;
    flex-direction: column;
    h2{
        margin-bottom: 1rem;
    }
    textarea{
        margin: auto auto 1rem auto;
        width: 100%;
        resize: none;
        height: 4rem;
    }
    .preview{
        max-width: 10%;
        margin: auto;
    }
    input{
        margin:0.8rem auto;
    }
    button{
        margin: auto 0 auto auto;
    }
    .input_image{
        display: flex;
        .preview{
            max-width: 10%;
            margin: auto 1rem;
        }
        input{
            margin:auto 0;
        }
    }
}