*{
    margin: 0;
    padding: 0;
    font-family: arial;
}


.textpadding{
    padding: 0.3rem;
    box-sizing: border-box;
}


.like{
    &.active{
        color: red;
    }
}

.button_image_menu{
    width: 2rem;
    position: absolute;
    right: 0;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}