@use 'colors.scss' as *;

*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

p{
    color: $malachite-950;
}

.textpadding{
    padding: 0.3rem;
    box-sizing: border-box;
}


.like{
    color: $malachite-950;
    &.active{
        color: red;
    }
}

.botton_forms{
    width: fit-content;
    padding: 0.2rem 0.5rem;
    background: $malachite-100;
    border: 2px solid $malachite-800;
    color: $malachite-950;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    &:hover{
        background: $malachite-300;
    }
}

.button_image_menu{
    width: 2rem;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: $malachite-950;
    &:hover{
        transform: scale(1.1);
    }
}


.loading{
    width: 10rem;
    height: 10rem;
    margin:0.8rem auto;
    animation: loading-animation 1.3s linear infinite;
    border-radius: 100%;
    border: 7px solid $malachite-300;
    border-top-color: $malachite-800;
}

@keyframes loading-animation {
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}

@media (width<344px) {
    body{
        width: 344px;
    }
}