

.area_login{
    width: 50%;
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .area_buttons{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        button{
            margin: 0 0.2rem;
        }
    }
    .forms_data{
        display: flex;
        width: 200%;
        transition: margin-left 0.3s ease;
        form{
            width: 100%;
            padding: 0.5rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;  
            position: relative;
            input{
                font-size: 1.2rem;
            }
            .showpassword{
                width: 1.4rem;
            } 
        }
    }
}