@use 'colors.scss' as *;

$mygreen: rgb(209, 231, 209);

.one_image {
    width: 95%;
    margin: 1rem auto;

    .description {
        margin: 1rem 0 0.5rem;
    }

    .border_image_full {
        background: $mygreen;
        width: 100%;
        height: 30rem;
        display: flex;
        img {
            display: flex;
            max-height: 100%;
            margin: auto;
            max-width: 100%;
        }
    }

    .area_icon {
        display: flex;
        margin-top: 0.3rem;

        span {
            font-size: 2rem;
            user-select: none;
            color: $malachite-950;
        }

        .icon {
            width: 2rem;
            margin-right: 0.2rem;
            cursor: pointer;
        }
    }
}


@media (width<500px){
    .one_image{
        .border_image_full{
            height: 20rem;
        }
    }
}