
.move_select{
    width: fit-content;
    display: flex;
    span{
        margin: auto 0.5rem;
        font-size: 1.5rem;
    }
    a{
        font-size: 1.2rem;
        text-decoration: none;
        &#nextpage{
            margin: auto auto auto 0 ;
        }
        &#lastpage{
            margin: auto 0 auto auto;
        }
    }
    margin:0.5rem auto 2rem;
}