@use 'colors.scss' as *;

.move_select{
    width: fit-content;
    display: flex;
    span{
        margin: auto 0.5rem;
        font-size: 1.5rem;
        color: $malachite-950;
    }
    a{
        background: $malachite-900;
        padding:0 0.3rem;
        font-size: 1.2rem;
        color: $malachite-50;
        border-radius: 0.3rem;
        &:hover{
            background: $malachite-700;
        }
        text-decoration: none;
        &#nextpage{
            margin: auto auto auto 0 ;
        }
        &#lastpage{
            margin: auto 0 auto auto;
        }
    }
    margin:0.5rem auto 2rem;
}